<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart HVAC Controller</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <h1 id="heading">Smart HVAC Controller</h1>
    <div class="table_container">
        <table class="table">
            <tr class="units">
                {% for head in heads1 %}
                <th class="unit_cell">{{ head }}</th>
                {% endfor %}
            </tr>
            <tr class="values">
                {% for data in data1 %}
                <td class="values_cell">{{ data }}</td>
                {% endfor %}
            </tr>
        </table>
        <table class="table">
            <tr class="units">
                {% for header in heads2 %}
                <th class="unit_cell">{{ header }}</th>
                {% endfor %}
            </tr>
            <tr class="values">
                {% for data in data2 %}
                <td class="values_cell">{{ data }}</td>
                {% endfor %}
            </tr>
        </table>
        <a href="{{ url_for('auto_ambient') }}"><input type="button" value="Refresh" id="refresh_btn"></a><br>
    </div>


    <form action="{{ url_for('auto_ambient') }}" method="post">
        
        <div class="ventilation_ip">
            <label for="state"><h3 id="form_text">Select State</h3></label>

            <select name="state_ip" id="state_ip">
                <option value="select_pls" selected hidden disabled>Select state</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Telangana">Telangana</option>
                <option value="Delhi">Delhi</option>
                <option value="Chhattisgarh" >Chhattisgarh</option>
                <option value="Uttar_Pradesh">Uttar Pradesh</option>
            </select>
        </div>

        <!-- <div class="ambient_temp_ip">
            <p><h3 id="form_text">Set ambient temperature</h3></p>
            <input type="number" name="temperature_ip" class="temp_input" value="{{ ambient_temp }}" min="18" max="24">
            <a href="\auto-ambient"><input type="button" id="submit_btn" value="Auto set"></a>
            <br>
        </div> -->    
        <input type="submit" value="Confirm" id="submit_btn">
        <a href="{{ url_for('index') }}"><input type="button" value="Back" id="refresh_btn"></a>
        <br>

    </form>
    <div class="temp_op">
        {% for message in get_flashed_messages() %}
            <p>Current Selected state: {{message}}</p>
        {% endfor %}
    </div>
</body>
</html>